.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader {
  top: calc(50% - 50px);
  left: calc(50% - 102px);
  display: grid;
  position: absolute;
  justify-items: center;
  grid-gap: 15px;
}
.chat {
  width: 70%;
  margin: 50px auto;
}
.AppLogo {
  text-align: left;
}
.AppLogo img {
  width: 175px;
}
header {
  display: flex;
  margin-top: 20px;
  color: #222f3e;
  background: #efefef;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px 40px;
  align-items: center;
  border: 3px solid #222f3e;
}
.header-meta {
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
  align-items: center;
}
.message-list {
  border: 3px solid #222f3e;
  border-top: 0;
  box-shadow: 0px 4px 8px 0px rgb(34 60 80 / 40%) inset;
  background: #c8d6e5;
  max-height: 70vh;
  overflow: scroll;

  display: grid;
  overflow-x: hidden;
}
.message {
  padding-bottom: 20px;
  display: grid;
  position: relative;
  grid-template-columns: 80px 5fr;
  padding-left: 5px;
}
.message-user-avatar {
  cursor: pointer;
  align-self: end;
}
.message-user-avatar img {
  width: 60px;
  border-radius: 50%;
}
.message-content {
  display: grid;
  background-color: #e1eaf3;
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
  max-width: 80%;
  position: relative;

  min-width: 150px;
}
.message-user-name {
  justify-self: start;
  font-weight: bold;
}
.message-text {
  text-align: left;
}
.message-time {
  color: darkgrey;
  text-align: right;
}
.message-like,
.message-liked {
  position: absolute;
  right: -10px;
  bottom: -10px;
}
.message-like,
.message-liked {
  cursor: pointer;
  color: #ee5253;
  background: inherit;
  padding: 1px 5px;
  border: 2px solid #c8ced5;
  border-radius: 5px;
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

.message-input {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.message-input input {
  border: 0;
  border-bottom-left-radius: 20px;
  padding: 20px;
  border: 3px solid #222f3e;
  border-top: 0;
}
.message-input button {
  border: 0;
  border-bottom-right-radius: 20px;
  border: 3px solid #222f3e;
  border-top: 0;
  border-left: 0;
}
.message-input input:active,
.message-input input:focus {
  outline: none;
}
.own-message {
  justify-self: end;
  width: fit-content;
  text-align: right;
  position: relative;
}
.ownMessageContent {
  border-radius: 20px;
  padding: 20px;
  background: #e1eaf3;
  position: relative;
  min-width: 150px;
  max-width: 80%;
  justify-self: end;
}
.message-edit,
.message-delete {
  cursor: pointer;
  background: #e1eaf3;
  position: absolute;
  padding: 1px 5px;
  border: 2px solid #c8ced5;
  border-radius: 5px;
  bottom: -10px;
  right: 18px;
}
.message-delete {
  right: -10px;
}
.own-message {
  margin-right: 15px;
  display: grid;
  padding-bottom: 20px;
}
.own-message i {
  min-width: 15px;
  text-align: center;
}
.own-message .message-like {
  left: -10px;
  right: auto;
}
.header-title {
  cursor: pointer;
}
.AppLogo {
  cursor: pointer;
}
.editingInput {
  width: 100%;
}
